@*@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
*@



@{
	ViewBag.Title = "Главная страница";
	    	
}


<h2>@ViewData["Text"]</h2>
@*<select asp-items="@ViewData["Lst"] as SelectList"></select>*@
<main class="container">

		
	@*<ol type="A">
		@for (int i = 1; i < 5; i++)
		{
	 <li>элемент @i списка</li>
		}
	</ol>*@

</main>



