@model Cart
<a asp-controller="Cart"
   asp-action="Index"
   class="navbar-text ml-auto">
    @Model.Price рублей <i class="fas fa-shopping-cart navcolor"></i>
    (@Model.Count)
</a>





@*<a asp-action="index" asp-controller="Cart" class="navbar-text ms-auto">
    00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
</a>*@